/*General*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    
}
:root{
        --main-color: #7EC544;
        --secondary-color: #037E86;
        --bg-color: #F4F4F2;
        
}

h2{
    color: var(--main-bg-color);
    font-size: 2rem;
    padding: 32px 24px;
}

p {
    letter-spacing: 0.05em;
    line-height: 1.5;
}
main{
    background-color: var(--bg-color);
}

/*BARRA DE NAVVEGACION*/
#menuNavegacion{
    display: flex;
    justify-content:right;
    text-transform: uppercase;
}

#menuNavegacion a:hover{
    color:var(--bg-color);
    background-color: var(--secondary-color);
} 

/*INDEX*/

.lab {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)), url(../Imagenes/laboratorio\ 6.jpeg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.lab .banner{
    grid-column: 7 / 11;
    grid-row: 3 / 7;
}

.lab  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: 900;
    color: var(--main-color);  
}

.lab  h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
}

/*NOSOTROS*/
.quienesSomos h2{
    color: var(--main-color)
    font-size: 2rem;
    padding-top: 20vh;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}

.wrapperNosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
    height: 50vh;
    padding-bottom: 60vh;
}


.nosotrosIzquierda{
    padding: 0px 32px;
}

.nosotrosIzquierda p{
    padding-bottom: 0px;
    font-family: 'Quicksand', sans-serif;
}

.nosotrosDerecha{
    padding-right: 24px;
}

.carousel-inner{
    width: 50vvw;
}
.carousel-caption p ,.carousel-caption h5{
       color: var(--bg-color);
}
  
/*SERVICIOS*/
.servicios h2{
    color: var(--main-color);
    font-size: 2rem;
    padding-top: 20vh;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}
.servicios p{
    padding: 24px 32px; 
    font-family: 'Quicksand', sans-serif;
}

#tituloCarta{
    font-family: 'Quicksand', sans-serif;
    color: var(--secondary-color);
    font-size: 1.3em;
    font-weight: 800;
    text-transform: uppercase;
}
#contenidoCartas{
    font-family: 'Quicksand', sans-serif;
}
#itemsCarta{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
#botonInfo{
    background: var(--secondary-color);
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    color:#F4F4F2;
   
    align-items: center;
}

#botonInfo:hover {
        background-color: var(--bg-color);
        color: black;
}
#cartaIndividual{
    border: 1px solid rgb(95, 94, 94);
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
#cartas{
padding: 24px 32px 5em 32px;
}

/*CERTIFICACIONES*/

.certificaciones p{
    padding: 24px 32px; 
    font-family: 'Quicksand', sans-serif;
}
.certificaciones h2{
    color: var(--main-color);
    font-size: 2rem;
    padding-top: 20vh;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}
.logos{
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: normal;
    justify-content: space-around;
    padding-bottom: 5em;
    --animate-duration: 3s;
}

.logos img{
    padding: 0.5em;
}


/*CONTACTO*/

.contactoContenido h2{
    color: var(--main-color);
    font-size: 2rem;
    padding-top: 20vh;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}
#datosFooter p{
    font-family: 'Quicksand', sans-serif; 
    margin: 0 0 5px 0;
}
.contactoContenido p{
    padding: 10px 32px;
    font-family: 'Quicksand', sans-serif; 
}

.wrapperContacto{
    padding:  16px 128px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contactoContainer{
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    padding: 1.5em;
}

.formContacto{
    background-color: var(--main-color);
    padding: 1.5em;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.datosContacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 5px solid var(--main-color) ;
    font-size: 1.2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.datosContactoLista li{
    list-style: none;
    padding-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

 .formContacto form input,
 .formContacto form textarea{
     width: 100%;
     padding: 0.7em;
     border: none;
}

.boton{
     background: var(--secondary-color);
     border: 0;
     text-transform: uppercase;
     padding: 1em;
     color:var(--bg-color);
}

.boton:hover {
        background-color: var(--bg-color);
        color: black;
}
/*PIE DE PAGINA*/

.footer{
    background-image:linear-gradient(to bottom, #56ab2f,#a8e063);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    height: auto;
    padding-bottom: 10px;
    display: grid; 
    align-items: center;
    grid-template-areas:
        "datosFooter novedadesFooter copyFooter";
}

#datosFooter{
    padding-top:20px;
    padding-left: 20px;
    font-family: 'Quicksand', sans-serif;
}

#datosFooter h3{
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    font-weight: 800;
}

.footer .copyFooter{
    grid-template-areas: "copyFooter";
    font-size: 0.8em;
    align-self: flex-end;
}   

.botonnl{
    border: 1px solid var(--bg-color);
    border-radius: 30px;
    margin-top: 10px;
    background: none;
    color: black;
    font-size: 1em;
    transition-duration: 0.4s;
    padding: 10px 20px;
}  
 
.botonnl:hover {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.redes{
    display:inline-flex;
}

  /*separar*/
  .redes .icono{
    margin: 0 20px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position: relative;
    z-index:2;
}
  
  /*circulo*/
  .redes .icono span{
    position:relative;
    z-index:2;
    height: 60px;
    width: 60px;
    display:block;
    background: var(--main-color);
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    border-radius:50%;
    text-align:center;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/*agrandar*/
  .redes .icono span i{
    font-size:25px;
    line-height:60px;
}
/*hover*/
  .redes .icono:hover span{
    color: var(--bg-color);
    background: var(--secondary-color);
}


  /* Media query para celular*/

@media only screen and (max-width:480px) {
    #menuNavegacion{
        display: none;
    }
    .navbar .logo{
        width: 150%;
        height: auto;
    }

    .lab .banner{
        grid-column: 2 / 7 ;
        grid-row: 2 / 4 ;
    }
    .lab  h1 {
        font-size: 2.5rem
    }
    .lab h2{
        font-size: 1em;
    }
/*Nosotros*/
.wrapperNosotros{
    grid-template-columns: 1fr;
    font-size: 0.8em;
    }

/*servicios*/
    .cards{
        grid-template-columns: 1fr;
        padding: 20px;
        grid-gap: 40px;
    }
    .details li{
        line-height: 1.1;
        padding: 8px;
    }


/*contacto*/
    .wrapperContacto{
        grid-template-columns: 1fr;
    }
    .datosContacto{
        font-size: 1em;
    }
/*footer*/
    #novedadesFooter{
        display: none;
    }
    #datosFooter{
        font-size: 0.8em;
    }
    .redes .icono span{
        height: 50px;
        width: 50px;
    }
    .redes .icono span i{
        font-size:20px;
        line-height:50px;
    }

    .footer .copyFooter p{
        font-size: 0.6em;
    }
}

/* Media query para tablet*/

@media only screen and (min-width: 481px) and (max-width:768px) {
    #menuNavegacion{
        display: none;
    }
    .lab .banner{
        grid-column: 2 / 7 ;
        grid-row: 4 / 6 ;
    }
    .lab  h1 {
        font-size: 3rem
    }
    .lab h2{
        font-size: 1em;
    }


/*Nosotros*/
    .wrapperNosotros{
        grid-template-columns: 1fr;
        height: 120vh;
    }

/*servicios*/
    .cards{
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        grid-gap: 40px;
    }
    .details li{
        line-height: 1.1;
        padding: 8px;
    }

/*servicios*/
    .logos{
        flex-direction: column;
        align-items: center;
        
    } 
    .logos img{
        max-width: 50%;
        padding-bottom: 0.5em;
    } 

    
  /*contacto*/
  .wrapperContacto{
    grid-template-columns: 1fr;
    }  

    .datosContacto{
        font-size: 1em;
    }

/*footer*/
    #novedadesFooter{
        display: none;
    }
    #datosFooter{
        font-size: 0.8em;
    }

    .redes .icono span{
        height: 50px;
        width: 50px;
    }
    .redes .icono span i{
        font-size:20px;
        line-height:50px;
    }

   
    .footer .copyFooter{
        font-size: 0.5em;
    }
}
