/*CERTIFICACIONES*/
.certificaciones {
	p {
		padding: 24px 32px;
		font: $regular-font;
	}
	h2 {
		color: $main-color;
		font-size: 2rem;
		padding-top: 20vh;
		font-family: 'Quicksand', sans-serif;
		font-weight: 800;
	}
}
.logos {
	display: flex;
	flex-wrap: wrap;
	overflow-wrap: normal;
	justify-content: space-around;
	padding-bottom: 5em;
	--animate-duration: 3s;
	img {
		padding: 0.5em;
	}
}